
/* Overall properties of jacket */

html, body
{
	margin: 0;
	padding: 0;
	background: transparent;
	color: #fff;
	opacity: 1;
	cursor: default;
}

body
{
	opacity: 0;
	color: #fff;
}

.progress, .controls
{
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
	top: 9px;
	background: #fff;
	border-radius: 60px;
}

.controls
{
	display: none;
	z-index: 10;
}

.controls a
{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 22px;
	f;
}

.progress span
{
	font-family: "Helvetica Neue";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 60px;
	text-align: center;
	font-size: 14px;
	color: #aaa;
}

.jacket
{
	width: 100%;
	height: 85%;
	background: transparent;
	padding-top: 10px;
	-webkit-border-radius: 8px;
	padding-left: 60px;
	overflow: hidden;
}

.jacket > div
{
	margin: 0 20px;
	font-family: "Helvetica Neue";
	font-weight: lighter;
	font-size: 30px;
	overflow: hidden;
	text-shadow: #000 1px 1px 1px;
	text-align: left;
	height: 33px;
}

.jacket .title
{
	font-size: 26px;
}

.jacket .artist
{
	font-size: 20px;
}

/* Variations */

body.black
{
	color: #000;
}

body.black .jacket > div
{
	text-shadow: none;
}

body.right-aligned .jacket > div
{
	text-align: right;
}

body.right-aligned .progress
{
	left: auto;
	right: 0;
}

body.right-aligned .jacket
{
	padding-left: 0;
	width: 89%;
}